/**
 * Created by Hektor Profe on 27/11/2018.
 */
 
.message_holder {
    height: 300px;
    width:620px;
    border: 1px solid gray;
    margin-bottom: 10px;
    padding: 10px;
    overflow-y: auto;
}

input.username{
    width: 150px;
}

input.message{
    width: 400px;
}

input.submit{
    width: 75px;
}