<!DOCTYPE html>
<html lang="en">
<head>
    <title>Flask Simple Chat</title>
    <link rel="stylesheet" href="/static/style.css?1">
</head>
<body>
    <!-- Robado y adaptado de https://github.com/samhita-alla/flask-chat-app-article 😁 -->

    <div class="message_holder"></div>

    <form action="" method="POST">
        <input type="text" class="username" placeholder="Usuario"/>
        <input type="text" class="message" placeholder="Mensaje"/>
        <input type="submit" class="submit" />
    </form>

    <script src="/static/libs/jquery.min.js?1"></script>
    <script src="/static/libs/socket.io.min.js?1"></script>
    <script src="/static/server.js?1"></script>

</body>
</html>